body.light-mode{
    --primary-color:#302AE6;
    --font-color:#424242;
    --bg-color:#fff;
}

body.dark-mode {
      --primary-color: #9A97F3;
      --font-color: #e1e1ff;
      --bg-color: #161625;
  }
#buttonWrapper{
  display: flex;
  justify-content: center;
  align-content: center;
}
#flexcolumn{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
}
body{
    font-family:  Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 400px auto;
}
button{
  height:2vw;
  widows: 2vw;
  display: flex;
  justify-content: center;
  align-content: center ;
}
em {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 16px;
}

.clock {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 7px;
    height: 100%;
  }
